.selectBlock {
  .label {
    width: 100%;
    color: var(--text-body-02);
  }

  .button {
    width: 100%;
    background-color: var(--surface-white);
    padding: var(--spacing-8);
    border: none;
    border-radius: var(--radius-m);
    box-shadow: var(--shadow-border-light);
  }
}
