.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: var(--spacing-8);
  font-weight: 500;
  border: none;
  border-radius: var(--radius-m);
  padding: 0 var(--spacing-16);
  cursor: pointer;
}

.primary {
  background-color: var(--primary-default);
  color: var(--text-body-inverse-01);

  &:hover {
    background-color: var(--primary-hover);
  }

  &:active {
    background-color: var(--primary-active);
  }

  &:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }

  &:focus-within {
    outline: none;
    box-shadow: 0px 0px 0px 2px var(--secondary-default);
  }
}

.tertiary {
  background-color: var(--tertiary-default);
  color: var(--text-body-01);

  &:hover {
    background-color: var(--tertiary-hover);
  }

  &:active {
    background-color: var(--tertiary-active);
  }

  &:disabled {
    background-color: var(--tertiary-disabled);
    cursor: not-allowed;
  }

  &:focus-within {
    outline: none;
    box-shadow: 0px 0px 0px 2px var(--tertiary-active);
  }
}

.medium {
  height: 48px;
  font-size: clamp(16px, calc(18 / 1440 * 100vw), 18px);
}

.small {
  height: 40px;
  font-size: clamp(14px, calc(16 / 1440 * 100vw), 16px);
}
