@import '../../assets/styles/media';

.filters {
  width: 320px;
  background-color: var(--surface-white);

  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-32);

  @include mobile {
    width: 100%;
    padding-block: var(--spacing-16);
    padding-inline: var(--spacing-24);

    position: fixed;
    top: 0;
    left: -100vw;
    height: 100vh;
    overflow: hidden;
    transition: left 0.3s ease 0s;
    opacity: 0;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-16);
  }
}

.shown {
  z-index: 301;
  opacity: 1;
  left: 0;
}

.showFiltersButton {
  @include mobile-above {
    display: none !important;
  }
}

.closeFiltersButton {
  @include mobile-above {
    display: none !important;
  }
}
