@import './assets/styles/normalize';
@import './assets/styles/variables';

body {
  font-family: var(--font-family-base);
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-body-01);
  background-color: var(--surface-white);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
