.movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  gap: var(--spacing-8);
  width: 100%;

  .movieItem {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    background-color: var(--surface-01);
  }
}
