.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-16);

  button {
    width: 100%;
  }
}

.title {
  font-weight: 500;
}

.inputsBlock {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
  padding-bottom: var(--spacing-40);
  width: 100%;
}
